#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .2);
}

/* Header */
#header {
  height: 70px;
  background-color: white;
  border-bottom: 2px solid var(--color-1);
  width: 100%;
  color: var(--color-1);
  border-bottom: solid 2px #009799;
}

#nav {
  padding-top: 16px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav i {
  color: var(--color-1);

}

#nav a {
  color: var(--color-1);
  text-decoration: none;
  font-size: 1.8em;
  font-weight:500;
}

#nav input {
  padding: 8px;
  padding-left: 16px;
  font-size: 1em;
  border-radius: 4px 0 0 4px;
  border: 1px solid black;
  border-right: none;
  width: 200px;
}

#nav button {
  background-color: var(--color-1);
  color: white;
  padding: 9px;
  font-size: 1em;
  border-radius: 0 4px 4px 0;
  border: none;
}


/* Main Content */
#home {
  height: 100%;
  width: 100%;
  color: white;
  padding: 0;
  background: url("../assets/hohenschwangau-bg-4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  padding: 0;
  margin: 0;
}

/* Footer */
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: white;
  border-top: 2px solid var(--color-1);
  box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, .2);
  
}

#footer a {
  text-decoration: none;
  color: black;
}