#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-1)
  
}

/* Main Content */
#main {
  height: 100%;
  width: 100%;
  color: white;
  padding: 0;
  background: url("./assets/hohenschwangau-bg-4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  padding: 0;
  margin: 0;
}

/* Footer */
#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: var(--color-3);
  border-top: 2px solid var(--color-1);
  box-shadow: 0 -1px 4px 1px rgba(0, 0, 0, .2);
  
}

#footer a {
  text-decoration: none;
  color: black;
}