#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-1)
  
}

#main {
  height: 100%;
  width: 100%;
  color: white;
  padding: 0;
  background: url("./assets/hohenschwangau-bg-4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  padding: 0;
  margin: 0;
}