@import "tailwindcss";
:root {@import "tailwindcss";
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-1: #009799;
  --color-2: rgba(0, 151, 153, .8);
  --color-3: rgba(255, 255, 255, 0.7);
  --shadow: box-shadow: 0 1px 4px 1px rgba(0, 0, 0, .2);
}


a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-1);
}




